# Puerto del servidor Express
PORT=8080

# Entorno de ejecución (development | production)
NODE_ENV=development

# URI de conexión a MongoDB Atlas
MONGO_URL=mongodb+srv://<usuario>:<password>@cluster0.example.mongodb.net/eventos_deportivos?retryWrites=true&w=majority

# Clave secreta para generación y verificación de JWT
JWT_SECRET=tu_secreto_super_seguro_jwt_backend2
